[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "shell/plugins/dircolors-solarized"]
	path = shell/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "zsh/plugins/oh-my-zsh"]
	path = zsh/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
